<%= form_for(@book) do |f| %>
  <div class="<%= action_name %>">
    <table>
      <tr>
        <th><%= t "labels.title" %></th>
        <td><%= f.text_field :title, size: 30 %></td>
        <th><%= t "labels.author" %></th>
        <td><%= f.collection_select :author_id, Author.all,
          :id, :name, { prompt: true, length: 25 },
          { style: "width: 150px;" } %></td></tr>
      <tr>
        <th><%= t "labels.released" %></th>
        <td><%= f.date_field :released_date %></td>
        <th><%= t "labels.rating" %></th>
        <td><%= f.range_field :rating, in: 0..5, step: 1,
          id: "book#{@book.id}" %>
          <div class="rateit" data-rateit-backingfld="#book<%= @book.id %>"></div></td>
        <th><%= t "labels.available" %></th>
        <td><%= f.check_box :available %></td></tr>
    </table>
  </div>
  <%= f.submit options = {class: "button_#{action_name}"} %>
<% end %>
