<div class="header-container">
  <header class="wrapper clearfix">
    <h1 class="title">Book Entry</h1>
    <nav <%= "class=leaf-menu" if (Time.now.to_i/60)%2 == 0 %>>
      <ul>
        <li><%= link_to "Book", books_path, 'data-no-turbolink' => true %><div id="orange"></div></li>
        <li><%= link_to "Author", authors_about_path %><div id="blue"></div></li>
        <li><%= link_to "About", books_about_path %><div id="purple"></div></li>
      </ul>
    </nav>
  </header>
</div>