<%= render 'message' %>

<% if @books && !@books.empty? %>
  <table class="display">
    <tr>
      <th class="wider"><%= t "labels.title" %></th>
      <th class="wide"><%= t "labels.author" %></th>
      <th class="tight"><%= t "labels.released" %></th>
      <th class="tight"><%= t "labels.rating" %></th>
      <th class="tighter"><%= t "labels.available" %></th>
      <th class="tighter"><%= t "labels.actions" %></th>
    </tr>
    <% for book in @books do %>
      <tr>
        <td class="wider"><%= book.title %></td>
        <td class="wide"><%= book.author.name if book.author %></td>
        <td class="tight"><%= l book.released_date if book.released_date %></td>
        <td class="tight">
          <div class="rateit" data-rateit-value="<%= book.rating %>" data-rateit-ispreset="true" data-rateit-readonly="true"></div></td>
        <td <%= "class=avail" if book.available %>></td>
        <td><%= link_to image_tag("/assets/icons/action_save.gif"), edit_book_path(book) %>
        <%= link_to image_tag("/assets/icons/action_stop.gif"), book, class: 'delete', method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
    <% end %>
  </table>
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @books %>
    </div>
    <%= will_paginate @books, container: false %>
  </div>
  <br>
<% end %>

<%= render 'form' %>

<%= coffee_script_tag do %>
  $(document).on 'page:change', ->
    $('.rateit').rateit()
    return
<% end %>