/*
* { margin: 0; padding: 0; }
body { font: 14px Georgia, serif; }

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

#header {
  height: 140px;
  position: relative;
}
#logo {
  position: absolute;
  top: 20px;
  font-size: 90px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 7px rgba(255,255,255,0.8);
}
#sap {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 1em;
  color: #fff;
}
#main-content {
  width: 800px;
  height: 600px;
  margin: 10px auto;
  background: #fff;
  border: 1px solid #000;
  -webkit-box-shadow: 3px 5px 4px rgba(0,0,0,0.4),  -3px -2px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 3px 5px 4px rgba(0,0,0,0.4),   -3px -2px 4px rgba(0,0,0,0.4);
    box-shadow: 3px 5px 4px rgba(0,0,0,0.4),  -3px -2px 4px rgba(0,0,0,0.4);
}
*/
#book { background: #41D05F; }
#author { background: #ff8400; }
#about { background: #49a7f3; }
#contact { background: #E42B2B; }
#price { background: #a800ff; }

